:root {
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --spacemono: 'Space Mono', monospace;
    --black: #0a0a0a;
    --secondblack: #171321;
    --hotmag: #ff17e4;
    --cream: #F1F7ED;
    --yellow: #faa916;
    --maroon: #B33951;
    --red: #EB5160;
}

* {
    box-sizing: border-box;
}
header {
    font-family: var(--poppins);
    font-size: 60px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cream);
}

header {
    text-align: center;
    padding: 75px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.letter {  
    border: 3px solid var(--secondblack);
    border-radius: 5px;
    margin: 5px 0 0 5px;
    /* centered char in border box */
    padding: 25px 25px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: var(--poppins);
    font-size: 35px;
    font-weight: 700;
}

.hidden {
    visibility: hidden;
}

.info-bar {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: var(--roboto);
}
  
.correct {
    background-color: rgb(3, 54, 3);
    color: white;
}

.close {
    background-color: var(--yellow);
    color: white;
}

.wrong {
    background-color: #666;
    color: white;

}

.invalid {
    animation: flash 1s;
}

@keyframes flash {
    0%, 50%, 100% {
        border-color: crimson;
        opacity: 1;
    }
    25%, 75% {
        border-color: #ccc;
        opacity: 0;
    }
 }

 .status {
    font-size: 30px;
    text-align: center;
    font-family: var(--roboto);
 }